body{
  margin: 0px;
  padding: 0px;
  color:#0B5345 ;
  Background-color:#D0ECE7;
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size:20px;
}

.pages{
  background-color: #0B5345;
}

.button{
  padding: none;
  margin: none;
  border: none;
  background-color: #04473A;
  color: white;
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: #16A085;
}

.heading{
  background-color: #0B5345;
  font-size: 40px;
  text-align: center;
  color: white;
  background-image: url('Art/sunflowers/sunflowers.JPG');
  background-attachment: relative;
  background-size: 110%;
  background-position: center;
  margin: none;
  border: none;
  padding: none;
}

.title{
  margin:0px;
}

.contact{
  background-color: #16A085;
  color: white;
}

.email{
  margin-top:0px;
}

img{
  border-radius: 50%;
}
