body{
  margin: 0px;
  padding: 0px;
  color:#FFFFFF;
  Background-color: #233322;
  text-align: center;
  font-family: Geneva;
  font-size:20px;
}

.pages{
  background-color: #011100;
}

.heading{
  background-color: #011100;
  font-size: 30px;
  font-family:monospace;
}

.contact{
  background-color: #122211;
}

img{
  border-radius: 50%;
}
